fastapi==0.135.1
uvicorn==0.42.0
SQLAlchemy==2.0.48
psycopg2-binary==2.9.11
pydantic==2.12.5
APScheduler==3.11.3
groq==1.6.0
scikit-learn==1.7.2
pandas==2.3.3
numpy==1.23.5
httpx==0.28.1
pytest==8.3.1
python-dotenv==1.2.2
reportlab==4.4.10
edge-tts==6.1.12
python-multipart==0.0.9
twilio==9.3.2



